
.namepage{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    margin: auto;
    font-family: verdana;
    font-size: 16px;
    border: solid 2px #110101;
    background-color: #adcdd4;
}
.namepage .formdata{
  width:40%;
  padding:15px;
}
.namepage .display_table {
  padding:15px;
  width:52%;
}
.name .display_table table{
  border:solid 1px rgb(15, 14, 14);
}
.namepage .display_table td, 
.namepage .display_table th{
  border-left:solid 1px rgb(14, 12, 12);
  border-bottom:solid 1px rgb(8, 8, 8);
  padding:10px 5px;
  text-align:left;
  font-size:13px;
}
.namepage .display_table td:first-child, 
.namepage .display_table th:first-child{
  border-right:none;
}

.namepage .display_table tr{
  border-bottom:solid 1px rgb(12, 10, 10);
}
.namepage .display_table tr:last-child td{
  border-bottom:none;
}

.formdata form{
    display:flex;
    flex-wrap:wrap;
    background:#f1f1f1;
    padding:15px;
  }
  .formdata form label{
    width:100px;
  }
  .formdata form input, .formdata label{
    margin:10px 0;
    padding:5px;
  } 
  .formdata form input{
    width:200px;
    padding:7px;
  }
  .formdata th{
    background:#f1f1f1; 
    font-size:14px; 
    font-weight:bold;
    text-align:left;
  }
  .formdata .button{
    background:#000;
    padding:5px 10px;
    font-size:20px;
    margin:25px auto;
    display:table;
    color:#fff;
  }

 .col50 .img{
  display: flex;
  position: relative;
  }









  .imbox .button1 {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position:absolute;
    color: #eeeeee;
    font-weight: 600;
    font-size: 15px;
    background-color: #153f00;
    padding: 3px 20px;
    margin: 0 auto;
  }
  .imbox .button1 span {
    position: relative;
    z-index: 1;
  
  }
  .imbox .button1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #52b71f;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .imbox .button1:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }






.imbox .button2 {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position:absolute;
    top: 10px;
    right: 10px;
    color: #eeeeee;
    font-weight: 600;
    font-size: 15px;
    background-color: #153f00;
    padding: 3px 20px;
    margin: 0 auto;
  }
  .imbox .button2 span {
    position: relative;
    z-index: 1;
  
  }
  .imbox .button2:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #52b71f;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .imbox .button2:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;
}

.display_table .list{
    display: flex;
  position:relative;

}

.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reserve{
    padding: 10px 20px;
    background: #fb911f;
   margin-top: -10px;
   text-transform:uppercase ;
}

.btn-reserve:hover{
    background: #d87710;
    transition: ease-out;
}

header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

.tableau{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/prince.jpeg);
    background-size: cover;
}

.tableau .contenu{
    max-width: 70%;
    text-align: center;
}
.tableau .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: #ffff;
    font-size: 1.2em;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn2{
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn1:hover{
letter-spacing: 4px;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;

}

.row .col50 h2{
    margin-bottom: 20px;
}

.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

.row .col50 img{
    height: 450px;
    width: 600px;
    position: relative;
}

.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.personnages{
    margin-top: -100px;
}

.personnages .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.personnages .contenu .box{
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
}

.personnages .contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 300px;
   
}

img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
img:hover{
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  
.personnages .contenu .box .imbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.personnages .contenu .box .text{
    text-align: center;
    font-weight: 300px;
    color: #111;
}

.personnages .contenu .box .text h3{
    font-weight: 400;
}

.acteurs{
    margin-top:-100px;
}

.acteurs .contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.acteurs .contenu .box{
    width: 250px;
    margin: 15px;
}
.acteurs .contenu .box img{
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.acteurs .contenu .box h3{
    color: #111;
    font-weight: 400;
    text-align: center;
}

.blanc .titre-texte{
    color: #fff;
}

.blanc .titre-texte,
.blanc p{
    color: #fff;
}







header.sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

@media (max-width: 991px) {
header, 
header.sticky{
    padding: 10px 20px;
}

header .navbar li{
    margin-left: 0px;
}

header .navbar li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
}

.navbar{
    display: none;
}
section{
    padding: 20px;
}

header .navbar.active{
    width: 100%;
    height: calc(100% -68px);
    position: fixed;
    top: 68px;
    left:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffff;
    align-items: center;
}

.menuToggle{
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(./images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 30px;
}

.menuToggle.active
{
    background-image: url(./images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-origin: center;
}

header.sticky .menuToggle{
    filter: invert(1);
}


.tableau .contenu h2{
    font-size: 2em;
}

.row .col50 img{
    margin-left: 18%;
}

.contenu p:nth-child(2){
    font-size: 1.2em;
}
.acteurs{
    margin-top: 0px;
}

.personnages{
    margin-top: 0px;
}

.row{
    display: flex;
    flex-direction: column;
}

    .row .col50 {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    
    }

    .row{
        flex-direction: column;
    }
}

@media (max-width: 480px)
{
    .tableau .contenu h2{
        font-size: 2.2em;
        color: #fff;
    }

    .titre-text{
        color: #000;
        font-size: 2rem;
        font-weight: 300;
        text-transform: capitalize;
    }

   
}

.button {
    border: 1px transparent;

    -webkit-border-radius: 40px;
    border-radius: 40px;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;
  }
  @-webkit-keyframes glowing {
    0% {
      background-color: #0091b2;
      -webkit-box-shadow: 0 0 3px #0091b2;
    }
    50% {
      background-color: #21c7ed;
      -webkit-box-shadow: 0 0 15px #21c7ed;
    }
    100% {
      background-color: #0091b2;
      -webkit-box-shadow: 0 0 3px #0091b2;
    }
  }
  @keyframes glowing {
    0% {
      background-color: #0091b2;
      box-shadow: 0 0 3px #0091b2;
    }
    50% {
      background-color: #21c7ed;
      box-shadow: 0 0 15px #21c7ed;
    }
    100% {
      background-color: #0091b2;
      box-shadow: 0 0 3px #0091b2;
    }
  }
  .svg-btn {
    display: block;
    width: 230px;
    height: 230px;
    margin-left: 10px;
  }
  svg {
    fill: blue;
    -webkit-animation: glowing-polygon 1300ms infinite;
    -moz-animation: glowing-polygon 1300ms infinite;
    -o-animation: glowing-polygon 1300ms infinite;
    animation: glowing-polygon 1300ms infinite;
  }
  @-webkit-keyframes glowing-polygon {
    0% {
      fill: #0091b2;
      -webkit-filter: drop-shadow(0 0 3px #0091b2);
    }
    50% {
      fill: #21c7ed;
      -webkit-filter: drop-shadow(0 0 15px #21c7ed);
    }
    100% {
      fill: #0091b2;
      -webkit-filter: drop-shadow(0 0 3px #0091b2);
    }
  }
  @keyframes glowingPolygon {
    0% {
      fill: #0091b2;
      filter: drop-shadow(0 0 3px #0091b2);
    }
    50% {
      fill: #21c7ed;
      filter: drop-shadow(0 0 15px #21c7ed);
    }
    100% {
      fill: #0091b2;
      filter: drop-shadow(0 0 3px #0091b2);
    }






    #camera, #camera--view, #camera--sensor, #camera--output{
        position: fixed;
        height: 8.5em;
        width: 10em;
        border: #110101;
        object-fit: cover;
        padding-top: 0.5%;
        padding-left: 0.4%;
    }
    #camera--view, #camera--sensor, #camera--output{
        transform: scaleX(-1);
        filter: FlipH;
        
    }
    #camera--trigger{
        color: rgb(253, 250, 250);
        background-color: #8fb2d4;
        border-color: #2c3e50;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        text-align: center;
        position: fixed;
        bottom: 2em;
        left: calc(50% - 100px);
    }
    .taken{
        height: 150px!important;
        width: 150px!important;
        transition: all 0.5s ease-in;
        border: solid 3px white;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
        top: 20px;
        right: 20px;
        z-index: 2;
    }
    #pageContent{
      display: flex;
      align-items: center;
      justify-content: center;
    
    
    }

















    











































 